#instagram{
    padding: 0.5% !important;
    background-color: #FFFF;
}

#testimony-4{
    display: none;
}

#clouds .cloud:last-child h2 {
    white-space: normal;
    text-align: center;
    max-width: 80%; /* Adjust this value as needed */
    margin: 0 auto;
    line-height: 1.5; /* Increase this value to add more space between lines */
}    


@media screen and (max-width: 768px) {
    .bio {
        display: flex;
        flex-direction: column;
    }
    
    .image-container {
        order: 2;
    }
    
    .content-container {
        order: 1;
        text-align: center;
        margin-top: 3%;
        margin-left: 0%;
    }
    
    .text-box{
        width: 100%;
    }
    
    .services-button, .button {
        font-size: 3.5vw;
        width: 50%;
        height: 7.5vw;
        margin-bottom: 3%;
    }
    a img{
        max-width: 100%;
    }

    .services-title, .bio-title, .bio-title-fucsia, .obsessed-title {
        font-size: 7.5vw;
    }



    .obsessed-title {
        line-height: 15%;
    }

    .text-box{
        max-width: 75vw;
    }

    .services-question, .text-box, .obsessed-subtitle {
        font-size: 3.5vw;
    }
    

    .obsessed-subtitle{
        background-color: var(--fucsia, #F99FF9);
    }

    #obsessed-titles{
        background-color: var(--fucsia, #F99FF9);
        margin-top: 0%;
        padding-top: 11%;
    }

    .obsessed{
        margin-top: 0%;
        height: 60vh;
        background-position-x: center;
        background-position-y: 10vh;
        clip-path: none;
        margin-bottom: 3%;
    }

    #clouds {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem; /* Reduce gap as needed */
        max-width: 100%;
        margin: 0 auto;
    }
    
    .cloud {
        flex: 1 1 calc(33.33% - 10vw); /* Ensures the first row fits 3 items */
        max-width: calc(33.33% - 10vw); /* Prevents items from growing too large */
        box-sizing: border-box;
        text-align: center;
        font-size: 2.5vw;
        height: 24vw;
    }
    
    #clouds .cloud:nth-child(4),
    #clouds .cloud:nth-child(5) {
        flex: 1 1 calc(50% - 10vw);
        max-width: calc(50% - 25.5vw);
        }

    #clouds .cloud:last-child h2 {
        white-space: normal;
        text-align: center;
        max-width: 80%; /* Adjust this value as needed */
        margin: 0 auto;
        line-height: 1.5; /* Increase this value to add more space between lines */
    }    


    .loved{
        margin-top: -8%;
        background-size: contain;
        background-position: top;
        margin-bottom: 0%;
        align-items: center;
    }
    #loved-titles{
        top: 4vh;
        padding-top: 14vw;
        padding-bottom: 5vw;

    }
    .loved-title{
        font-size: 7.5vw;
    }

    #testimony-1, #testimony-2, #testimony-3, #testimony-4{
        font-size: 3.5vw;
        margin-left: auto;
        margin-top: 0%;
        margin-right: auto;
        background-image: none;
        background-color: #F99FF9;
        border-radius: 5vw;
        padding: 3vw;
        max-width: 75vw;
        width: 100%;
    }

    #testimony-1, #testimony-2, #testimony-3{
        margin-bottom: 5vh;
    }
      
      .testimonies-container {
      }
      
      .testimony {
        position: inherit;
        top: 35vh;
        justify-content: center;
        align-items: center;
      }

      #testimonies{
        background-color:#1E1E1E;
      }
          

      #testimony-3 p, #testimony-2 p {
        padding-top: 10%;
      }

      .line{
        width: 100%;
        padding-bottom: 1vw;
      }
      
}