#services-body{
  background-color: #1E1E1E;
}

.send-info-section-sv{
background: var(--negro, #1E1E1E);
padding-top: 2.5%;
}
.send-info-small-title-sv{
color: var(--Negro, #FFFF);
text-align: center;
font-family: "roc-grotesk-condensed", sans-serif;
font-size: 2.22vw;
font-style: normal;
font-weight: 600;
line-height: 147.4%; /* 3.28vw */
text-transform: uppercase;
}
.send-info-title-sv{
color: var(--Negro, #FFFF);
text-align: center;
font-family: "roc-grotesk-condensed", sans-serif;
font-size: 5.21vw;
font-style: normal;
font-weight: 600;
line-height: 0%; /* 7.68vw */
text-transform: uppercase;
margin-bottom: 2%;
}

#send-info-button-sv{
background: var(--Negro, #B9BDFF);
color: var(--negro, #1E1E1E);
margin-top: 2%;
border-radius: 12.50vw;
border-color: transparent;
color: var(--negro, #1E1E1E);
text-align: center;
font-family: "Poppins";
font-size: 1.39vw;
font-style: normal;
font-weight: 500;
line-height: 147.4%;
text-transform: uppercase;
width: 15%;
height: 3.82vw;
padding: 0.69vw;
}

#enquirenowbutton{
margin: 0 auto; /* This centers the button */
}

#send-info-button-sv:hover{
color: var(--Negro, #1E1E1E);
background: var(--Blanco, #FFF);
}

.send-info-line-sv{
text-align: center;
margin-bottom: 3%;
}

#send-info-email-sv {
width: 34.72vw;
height: 3.54vw;
flex-shrink: 0;
background: var(--Blanco, #FFF);
color: #1E1E1E;
font-family: Poppins;
font-size: 1.11vw;
font-style: normal;
font-weight: 400;
line-height: 147.4%;
padding-left: 1.5% !important;
padding-right: 0.14vw !important;
padding:0;
border-width: 0.14vw;
}

.faq-section {
  margin-top: 5%;
  padding-bottom: 7%;
  background-color: #FFFF;
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically, if needed */
}

.faq-container {
  width: 100%;
  max-width: 60%; /* Limit the maximum width of the content */
  text-align: left; /* Keep text aligned to the left */
  padding: 0 1.39vw; /* Optional padding for mobile responsiveness */
}

.faq-title {
color: var(--negro, #1E1E1E);
text-align: left; /* Ensures the title text is aligned left */
font-family: "roc-grotesk-condensed", sans-serif;
font-size: 7.22vw;
font-style: normal;
font-weight: 500;
line-height: 40%;
text-transform: uppercase;
margin-bottom: 5%;
}

.faq-question {
color: var(--Negro, #1E1E1E);
font-family: Poppins;
font-size: 1.25vw;
font-style: normal;
font-weight: 500;
line-height: 147.4%;
text-transform: uppercase;
cursor: pointer;
display: block;
margin-top: 1%;
margin-bottom: 1%;
position: relative;
padding-right: 1.39vw;
max-width: 100%;
}

.faq-question::after {
content: "+"; /* Plus sign */
position: absolute;
right: 0; /* Align the plus sign to the far right */
top: 50%; /* Vertically center the plus sign */
transform: translateY(-50%); /* Adjust to keep it vertically aligned */
color: #000;
font-weight: bold;
}

.faq-answer {
color: var(--Negro, #1E1E1E);
font-family: Poppins;
font-size: 1.11vw;
font-style: normal;
font-weight: 400;
line-height: 147.4%;
display: none;
max-width: 90%;
margin-bottom: 3%;
}

.faq-answer.active{
display: block;
}

#transforming{
  background-image: url('../img/Nube\ grande.svg');
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 2.5%;
  padding-bottom: 10%;
  display: inline-block;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;
}

#transforming-button{
  border-radius: 3.33vw;
  background: var(--Negro, #1E1E1E);
  color: var(--Blanco, #FFF);
  font-family: Poppins;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 19vw;
  height: 3.76vw;
  border-color: transparent;
}

#transforming-button:hover{
  background: var(--blanco, #FFFF);
  color:#1E1E1E
}

#transforming-titles{
  margin-top: 10%;
}

.branding-section {
  background-color: #FFFF; /* Light purple background */
  font-family: "roc-grotesk-condensed", sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 2.22vw;
  display: flex;
  justify-content: space-between; /* Ensure the left and right sections are spaced apart */
  gap: 0.00vw;
  min-height: 80vh; /* Ensures the section is tall enough to fit content */
}

.branding-card.half-height {
  height: 25vh; /* Adjusted height to allow for more content */
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  border-radius: 1.39vw;

}  

.branding-card.full-height {
  height: 62vh; /* This matches the section height minus padding and gap */
  border-radius: 1.39vw;
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  align-content: center;
}

.branding-card {
  background-color: #1E1E1E; /* Dark background for the cards */
  border-radius: 2.08vw; /* Rounded corners */
  padding: 2.22vw;
  text-align: left;
}

.branding-title {
  font-size: 5.11vw;
  color: #F99FF9; /* Light purple for the titles */
  text-transform: uppercase;
  margin-top: 0.05%;
  font-weight:600;
  padding-left: 1.33vw;
  padding-right: 0.33vw;
}

.branding-description {
  font-size: 1.11vw;
  line-height: 1.67vw;
  color: #FFFFFF;
  font-family: Poppins;
  margin-top: -10%;
  padding-left: 1.33vw;
  padding-right: 1.56vw;

}

#branding-left,
#branding-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:1%;
  margin-bottom:1%;
}

@media (min-width: 53.33vw) {
  .branding-section {
    align-items: stretch;
  }

  #branding-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #branding-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.colored-text{
color:#A1B2FF
}

#branding-half-bg{
  background-image: url('../img/branding2.webp');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}

#branding-full-bg{
  background-image: url('../img/branding.webp');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}


.social-section {
  background-color: #FFFF; /* Light purple background */
  font-family: "roc-grotesk-condensed", sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 2.22vw;
  display: flex;
  justify-content: space-between; /* Ensure the left and right sections are spaced apart */
  gap: 0.00vw;
  min-height: 80vh; /* Ensures the section is tall enough to fit content */
}

.social-card.half-height {
  height: 25vh; /* Adjusted height to allow for more content */
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  border-radius: 1.39vw;

}  

.social-card.full-height {
  height: 62vh; /* This matches the section height minus padding and gap */
  border-radius: 1.39vw;
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  align-content: center;
}

.social-card {
  background-color: #1E1E1E; /* Dark background for the cards */
  border-radius: 2.08vw; /* Rounded corners */
  padding: 2.22vw;
  text-align: left;
}

.social-title {
  font-size: 5.11vw;
  color: #F99FF9; /* Light purple for the titles */
  text-transform: uppercase;
  margin-top: 0.05%;
  font-weight:600;
  padding-left: 1.33vw;
  padding-right: 0.33vw;
}

.social-description {
  font-size: 1.11vw;
  line-height: 1.67vw;
  color: #FFFFFF;
  font-family: Poppins;
  margin-top: -10%;
  padding-left: 1.33vw;
  padding-right: 1.56vw;

}

#social-left,
#social-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:1%;
  margin-bottom:1%;
}

@media (min-width: 53.33vw) {
  .social-section {
    align-items: stretch;
  }

  #social-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #social-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#social-half-bg{
  background-image: url('../img/socials2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#social-full-bg{
  background-image: url('../img/socials.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.photography-section {
  background-color: #FFFF; /* Light purple background */
  font-family: "roc-grotesk-condensed", sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 2.22vw;
  display: flex;
  justify-content: space-between; /* Ensure the left and right sections are spaced apart */
  gap: 0.00vw;
  min-height: 80vh; /* Ensures the section is tall enough to fit content */
}

.photography-card.half-height {
  height: 25vh; /* Adjusted height to allow for more content */
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  border-radius: 1.39vw;

}  

.photography-card.full-height {
  height: 62vh; /* This matches the section height minus padding and gap */
  border-radius: 1.39vw;
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  align-content: center;
}

.photography-card {
  background-color: #1E1E1E; /* Dark background for the cards */
  border-radius: 2.08vw; /* Rounded corners */
  padding: 2.22vw;
  text-align: left;
}

.photography-title {
  font-size: 5.11vw;
  color: #F99FF9; /* Light purple for the titles */
  text-transform: uppercase;
  margin-top: 0.05%;
  font-weight:600;
  padding-left: 1.33vw;
  padding-right: 0.33vw;
}

.photography-description {
  font-size: 1.11vw;
  line-height: 1.67vw;
  color: #FFFFFF;
  font-family: Poppins;
  margin-top: -12%;
  padding-left: 1.33vw;
  padding-right: 1.56vw;

}

#photography-left,
#photography-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:1%;
  margin-bottom:1%;
}

@media (min-width: 53.33vw) {
  .photography-section {
    align-items: stretch;
  }

  #photography-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #photography-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#photography-half-bg{
  background-image: url('../img/photography2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#photography-full-bg{
  background-image: url('../img/photography.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.collaterals-section {
background-color: #1E1E1E; /* Light purple background */
font-family: "roc-grotesk-condensed", sans-serif;
color: #1E1E1E;
margin: 0;
padding: 2.22vw;
display: flex;
justify-content: space-between; /* Ensure the left and right sections are spaced apart */
gap: 0.00vw;
min-height: 80vh; /* Ensures the section is tall enough to fit content */
}

.collaterals-card.half-height {
height: 25vh; /* Adjusted height to allow for more content */
margin: 0.67vw;
overflow: hidden; /* Prevents overflow of content */
border-radius: 1.39vw;

}  

.collaterals-card.full-height {
height: 62vh; /* This matches the section height minus padding and gap */
border-radius: 1.39vw;
margin: 0.67vw;
overflow: hidden; /* Prevents overflow of content */
align-content: center;
}

.collaterals-card {
background-color: #F99FF9; /* Dark background for the cards */
border-radius: 2.08vw; /* Rounded corners */
padding: 2.22vw;
text-align: left;
}

.collaterals-title {
font-size: 5.11vw;
color: #1E1E1E; /* Light purple for the titles */
text-transform: uppercase;
margin-top: 0.05%;
font-weight:600;
padding-left: 1.33vw;
padding-right: 0.33vw;
}

.collaterals-description {
font-size: 1.11vw;
line-height: 1.67vw;
color: #1E1E1E;
font-family: Poppins;
margin-top: -10%;
padding-left: 1.33vw;
padding-right: 1.56vw;

}

#collaterals-left,
#collaterals-right {
display: flex;
flex-direction: column;
justify-content: center;
margin-top:1%;
margin-bottom: 1%;
}

@media (min-width: 53.33vw) {
.collaterals-section {
  align-items: stretch;
}

#collaterals-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#collaterals-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}

#collaterals-half-bg{
background-image: url('../img/collaterals2.webp');
background-size: cover;
background-position: center; /* Centers the background image */
background-repeat: no-repeat;
}

#collaterals-full-bg{
background-image: url('../img/collaterals.webp');
background-size: cover;
background-position: center; /* Centers the background image */
background-repeat: no-repeat;
}

.web-section {
background-color: #1E1E1E; /* Light purple background */
font-family: "roc-grotesk-condensed", sans-serif;
color: #1E1E1E;
margin: 0;
padding: 2.22vw;
display: flex;
justify-content: space-between; /* Ensure the left and right sections are spaced apart */
gap: 0.00vw;
min-height: 80vh; /* Ensures the section is tall enough to fit content */
}

.web-card.half-height {
height: 25vh; /* Adjusted height to allow for more content */
margin: 0.67vw;
overflow: hidden; /* Prevents overflow of content */
border-radius: 1.39vw;

}  

.web-card.full-height {
height: 62vh; /* This matches the section height minus padding and gap */
border-radius: 1.39vw;
margin: 0.67vw;
overflow: hidden; /* Prevents overflow of content */
align-content: center;
}

.web-card {
background-color: #F99FF9; /* Dark background for the cards */
border-radius: 2.08vw; /* Rounded corners */
padding: 2.22vw;
text-align: left;
}

.web-title {
font-size: 5.11vw;
color: #1E1E1E; /* Light purple for the titles */
text-transform: uppercase;
margin-top: 0.05%;
font-weight:600;
padding-left: 1.33vw;
padding-right: 0.33vw;
}

.web-description {
font-size: 1.11vw;
line-height: 1.67vw;
color: #1E1E1E;
font-family: Poppins;
margin-top: -12%;
padding-left: 1.33vw;
padding-right: 1.56vw;

}

#web-left,
#web-right {
display: flex;
flex-direction: column;
justify-content: center;
margin-top:1%;
margin-bottom:1%;
}

@media (min-width: 53.33vw) {
.web-section {
  align-items: stretch;
}

#web-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#web-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}

#web-half-bg{
background-image: url('../img/web2.webp');
background-size: cover;
background-position: center; /* Centers the background image */
background-repeat: no-repeat;
}

#web-full-bg{
background-image: url('../img/web.webp');
background-size: cover;
background-position: center; /* Centers the background image */
background-repeat: no-repeat;
}

.line-q {
  display: inherit;
  stroke-width: 0.07vw;
  stroke: #000;
  width: 100%;
  height: 0.00vw;
  flex-shrink: 0;
  border-top: 0.14vw solid #000; /* You can adjust the color and thickness as needed */

}


@media screen and (max-width: 768px) {
  .social-section, .photography-section, .branding-section {
    flex-direction: column; /* Stack sections vertically */
    display: flex;
    flex-wrap: wrap; /* Allows elements to wrap to the next line */
    gap: 0vw;
    padding: 5vw;
    min-height: 0vh;
}
.branding-section{
  margin-top: -0.5%;
}

  #social-left, #social-right, #photography-left, #photography-right, #branding-left, #branding-right {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0% !important;
  }


  .social-title, .photography-title, .branding-title {
    padding-bottom: 2vw;
    padding-top: 3vw;
    font-size: 7.5vw;
    padding-left: 6vw;
    padding-right: 6vw;
    
  }

  .social-description, .photography-description, .branding-description{
    font-size: 3.5vw;
    line-height: 5.5vw;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: -10%;
  }

  #social-full-bg,#photography-full-bg, #branding-full-bg{
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    border-top-left-radius: 0vw;
    border-top-right-radius: 0vw;

  }

  .social-card.half-height, .photography-card.half-height, .branding-card.half-height{
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border-bottom-left-radius: 0vw;
    border-bottom-right-radius: 0vw;
    margin-bottom: -1.75%;
    height: auto;
  }

  .photography-card.full-height, .social-card.full-height, .branding-card.full-height {
    height: 25vh;
  }

  .collaterals-section, .web-section {
    flex-direction: column; /* Stack sections vertically */
    display: flex;
    flex-wrap: wrap; /* Allows elements to wrap to the next line */
    gap: 0vw;
    padding: 5vw;
    min-height: 0vh;
  }

  #collaterals-right, #collaterals-left, #web-right, #web-left {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0% !important;
  }

  .collaterals-title, .web-title {
    padding-bottom: 2vw;
    padding-top: 3vw;
    font-size: 7.5vw;
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .collaterals-description, .web-description {
    font-size: 3.5vw;
    line-height: 5.5vw;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: -10%;
  }

  #collaterals-full-bg, #web-full-bg {
  border-bottom-left-radius: 4vw;
  border-bottom-right-radius: 4vw;
  border-top-left-radius: 0vw;
  border-top-right-radius: 0vw;
  }

  .collaterals-card.half-height, .web-card.half-height {
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border-bottom-left-radius: 0vw;
    border-bottom-right-radius: 0vw;
    margin-bottom: -1.75%;
    height: auto;
  }

  .collaterals-card.full-height, .web-card.full-height {
  height: 25vh;
  }
  #collaterals-right, #web-right {
    order: -1; /* Move right elements to the top */
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0% !important;
  }

  #collaterals-left, #web-left {
    order: 1; /* Ensure left elements are below */
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0% !important;
  }

  #transforming{
    margin-top: 18vw;
    height: 21vh;
    background-position: bottom;
  }

  .obsessed-title{
    font-size: 7.5vw;
  }

  #obsessed-title-1{
    margin-top: 0px;
  }

  #obsessed-titles{
    margin-top: 0px;
    padding-top: 10%;
  }
  .obsessed-subtitle{
    font-size: 3.5vw;
  }
  #transforming-titles {
    background-color:var(--fucsia, #F99FF9);
    margin-top: 0%;
    padding-top: 10%;
  }

  #transforming-button{
    font-size: 3.5vw;
    width: 65%;
    height: 7.5vw;    
    color: var(--fucsia, #F99FF9);
  }

  #photography-half-bg, #social-half-bg, #web-half-bg, #collaterals-half-bg, #branding-half-bg{
    display: none;
  }

  .send-info-section-sv{
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .send-info-title-sv{
    font-size: 7.5vw;
    line-height: 20%;
  }

  #send-info-button-sv{
    font-size: 3.5vw;
    width: 50%;
    height: 7.5vw;
    margin-top: 2%;
  }
  #send-info-email-sv {
    width: 70%;
    height: 7.5vw;
    margin-top: 7.5%;
    font-size: 3.5vw;
  }

  .send-info-line-sv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
  }  

  .faq-container{
    max-width: 100%;
    padding: 0vw;
  }
  .faq-title {
    font-size: 7.5vw;
    padding-left: 10%;
    margin-bottom: 2%;
  }
  .faq-questions{
  }
  .faq-answer, .faq-question {
    font-size: 3.5vw;
    padding-left: 10%;
    padding-right: 10%;
  }

  .line-q {
    border-top:0.50vw solid #000;
    margin-top: 0%;
    margin-bottom: 1.25%;
    max-width: 100%;
  }

  .faq-question::after {
    padding-right: 10%;
  }
}