@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: bold;
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  src: url('../fonts/Oswald-Medium.ttf') format('truetype');
}


body{
  margin:0%
}
.element a {
  color: #FFFFFF;
  font-size: 1.39vw;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: none;
  display: flex;

}

.element a:hover {
  color: #F99FF9;
}

.router-link-active {
  color: var(--rojo, #F99FF9);
  text-align: center;
  font-family: Poppins;
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}

.navbar-nav:hover {
  color: #FFFF; /* Pink color for the active link */
}

.navbar-hamburger {
  display: none;
  cursor: pointer;
}

.logo {
  margin-right: auto;
  margin-left: 0.69vw; 
}

.navbar {
  background-color: transparent; 
  border-radius: 6.94vw;
  border: 0.14vw solid #F99FF9; 
  padding: 0.07vw 0.69vw; 
  margin-left: 12%;
  margin-top: 2%;
  margin-right: 12%;
  height: 4.17vw;
}

.divider{
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25%;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-nav li {
  margin: 0 0.69vw;
}


.item-count {
  padding: 0.14vw 0.35vw;
  border-radius: 50%;
  background-color: rgba(236, 71, 36, 1);
  color: #fff;
  width: 3.47vw;
  line-height: 3.89vw;
  text-align: center;
  font-weight: normal;
  font-family: Poppins;
}

.navbar-right {
  margin-right: 2%;
}

.navbar-left {
  margin-left: 2%; 
}

.bio {
  display: flex;
  align-items: center;
  margin: 2.5%;
  justify-content: center;
}

.content-container{
  margin-left: 4%;
  margin-bottom: 5%;
}
.image-container {
  margin-right: 1.39vw;
}


.bio-title {
  color: var(--blanco, #FFFFFF);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.11vw;
  font-style: normal;
  font-weight: 600;
  line-height: 25%;
  text-transform: uppercase;
}

.bio-title-fucsia {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.11vw;
  font-style: normal;
  font-weight: 600;
  line-height: 25%;
  text-transform: uppercase;
}

.bigger-title {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 8.89vw;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  text-transform: uppercase;
  margin-top: 17%;
}

.text-box {
  color: var(--negro, #FFFFFF);
  font-family: Poppins;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  line-height: 147.4%;
  width: 36.68vw; 
  margin-top: -2%;
  margin-bottom: 6%;
}

.button {
  border-radius: 12.50vw;
  border-color: transparent;
  background: var(--rojo, #F99FF9);
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 50%;
  height: 3.82vw;
  padding: 0.69vw;
}

.button:hover{
  background: var(--negro, #FFFF);
  color: var(--negro, #1E1E1E);
}

.scrolling-text {
  width: 100%;
  background: var(--fucsia, #F99FF9);
  margin-top: 2.5%;
  overflow: hidden;
}

.text-container {
  display: inline-block;
  white-space: nowrap;
  animation: RightToLeft 20s infinite linear;
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.67vw;
  text-transform: uppercase; 
  transform: scale(2);

}

.scrolling-content {
  display: inline-block;
  padding-right: 1.11vw;
  padding-left: 1.11vw;
  margin-bottom: 0.69vw;
}

.separator {
  padding: 0 0.56vw; /* Adjust the spacing around the separator */
}


@keyframes RightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.process-section {
  background: var(--negro, #1E1E1E); 
}

.process-title {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.21vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  margin-left: 11%;
  margin-bottom: -5%;
  padding-top: 3%;
}

.columns {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
}

.step {
  flex: 1;
  padding: 1.39vw;
}

.number {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.21vw;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  margin-bottom: -10%;
}

.column-title {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 2.22vw;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  width: 13.96vw;
  height: 3.25vw;
  flex-direction: column;
  flex-shrink: 0;
}

.separator {
  background: #F99FF9;
  width: 22.94vw;
  height: 0.14vw; 
}

.column-text {
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: 22.74vw;
  height: 10.96vw;
  flex-direction: column;
  flex-shrink: 0;
}

.instagram-section {
  text-align: center; /* Center align the section content */
  background-color: #FFFF;

}

.instagram-title {
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 2.22vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.instagram-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1.39vw;
}

.instagram-column {
  flex-basis: 33%; /* Adjust the width based on your desired layout */
  padding: 0.69vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.image-wrapper {
  display: table-cell;
  width: 50%;
  box-sizing: border-box;
  
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.instagram-column p {
  color: var(--negro, #FFFF);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 1.67vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20%;
}



.footer{
  background: var(--negro, #1E1E1E);
  justify-content: space-between;
  display: flex;
}

.footer-columns{
  width: 20%;
  display: flex;
  margin-right: 35%;
}

.footer-title a{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%;
  text-decoration: none;
}

.footer-element a{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: 147.4%;
  text-decoration: none;
}

.footer-element a:hover{
  color: #F99FF9;
}

.footer-title a:hover{
  color: #F99FF9;
}

.footer-social-title{
  color: #FFF;
  font-family: Poppins;
  font-size: 1.53vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.copyright{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 450%;
}

footer {
  background-color: #f9f9f9;
  padding: 1.39vw;
}

.footer-column {
  display: inline-block;
  width: 50%;
}

h4 {
  margin-bottom: 0.69vw;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.35vw;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: inherit;
}

.social-icons li {
  margin-right: 0.69vw;
}

.social-icons img {
  width: 2.78vw;
  height: 2.78vw;  
}

p {
  margin-top: 0.69vw;
}

.footer-socials{
  margin-left: -1%;
  margin-top: 3%;
  width: 20%;
  justify-content: center;
  text-align: left;
}

#app{
  background-color: #1E1E1E;
}

html{
  background-color: #1E1E1E;
}

.obsessed{
  background-image: url('../img/Nube\ grande.svg');
  background-size:auto;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
  justify-content:center;
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  clip-path: inset(0 0 10% 0);
}

.obsessed-title{
  color: var(--blanco, #1E1E1E);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.20vw;
  font-style: normal;
  font-weight: 600;
  line-height: 9%;
  text-transform: uppercase;
  text-align: center;
}

.obsessed-subtitle{
  color: var(--blanco, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  margin-top: -2%;
}

#obsessed-titles{
  margin-top: 12%;
}

#clouds{
  margin-top: 8%!important;
  margin: 10%;
  display: flex;
  justify-content:center;
}

.cloud{
  background-image: url('../img/Vector\ Nube.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  width: 25%;
  height: 14vw;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  color: #FFFFFF;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-style: normal;
  font-size: 1.30vw;
  font-weight: 600;
  line-height: 9%;
  text-transform: uppercase;
  text-align: center;
  transform: translateY(100%); /* Start off-screen at the bottom */
  transition: background-size 0.3s ease;
}

/* Keyframes for sliding up from the bottom */
@keyframes slideUp {
  0% {
    transform: translateY(100%); /* Start off-screen at the bottom */
  }
  100% {
    transform: translateY(0); /* End in the original position */
  }
}

/* This class will be added via JavaScript to trigger the animation */
.cloud.animate {
  animation: slideUp 0.5s ease-out forwards; /* Apply the slide-up animation */
}

.cloud h2 {
  display: block!important; /* Ensures each h2 appears on its own line */
  margin: 0!important;      /* Reset margin if needed */
  padding: 0!important;    
}

.cloud:hover {
  color: #F99FF9;
  background-size: 80%;
}

.services-section{
  margin-top: -10% !important;
  margin-bottom: 7%;
  background-color: #FFFFFF;
  padding-bottom: 4%;
}

.services-title{
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.00vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  background-color: #F99FF9;
  padding-top: 1.5%;
}

.services-question{
  color: var(--Negro, #1E1E1E);
  font-family: "Poppins";
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  display: block;
  margin-top: 0%;
  margin-bottom: -0.5%;
}

.services-question:hover{
  color: #F99FF9;
}



.line{
  display: inline-block;
  stroke-width: 0.07vw;
  stroke: #000;
  width: 50%;
  height: 0.00vw;
  flex-shrink: 0;
  border-top: 0.14vw solid #000; /* You can adjust the color and thickness as needed */
}

.services-container {
  display: block;
  align-items: center; 
}

#services-columns{
  margin-top: -3%;
  display: block;
  text-align: center;
}

#services-button-container {
  display: flex;
  justify-content: center;
  margin:1%;
}

.services-button {
  border-radius: 12.50vw;
  border-color: transparent;
  background: var(--rojo, #F99FF9);
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 20%;
  height: 3.82vw;
  padding: 0.69vw;
  display: inline-block;
}


.services-button:hover{
  background: var(--negro, #1E1E1E);
  color: var(--negro, #FFFF);
}

.loved{
  padding-top: 5%;
  background-image: url('../img/Nube\ testimonials.svg');
  background-size:100%;
  background-repeat: no-repeat;
  margin-top: -7%;
  margin-bottom: 5%;
  display: inline-block;
  justify-content:center;
  background-color: #FFFFFF;
  width: 100%;
}

#loved-titles{
  padding-top: 5.56vw;
}
.loved-title{
  color: var(--blanco, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.21vw;
  font-style: normal;
  font-weight: 600;
  line-height: 9%;
  text-transform: uppercase;
  text-align: center;
}

#testimonies{
  align-content: center;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 1.11vw;
}

#testimony-1{
  background-image: url('../img/Testimonial\ 01.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40%;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  line-break: auto;
  margin-left: 18%;
  padding-top: 2.5%;
}

#testimony-2{
  background-image: url('../img/Testimonial\ 02.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40%;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  line-break: auto;
  margin-left: 45%;
  margin-top: -7%;
  padding-top: 3%;


}

#testimony-3{
  background-image: url('../img/Testimonial\ 03.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40%;
  padding: 6%;
  box-sizing: border-box;
  text-align: center;
  line-break: auto;
  margin-left: 15%;
  margin-top: -10%;
  padding-top: 2.5%;
}

#testimony-3 p{
  margin-top: 2vw;
}

#footer-image{
  width: 100%;
}

.footer-img-column{
  display: inline-block;
  width: 10%;  
  align-content: center;
  margin-left: 10%;
}

.language-selector{
  color: var(--blanco, #1E1E1E);
  font-family: Poppins;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: 147.4%;
  text-decoration: none;
  background-color: #F99FF9;
  margin-block-start: 1.33em;
  margin-left: 60%;
}

.footer-columns .footer-column:nth-child(2) ul li:nth-child(3) {
  width: 150%;
}

.language-selector-nav{
  display: none;
}
@media screen and (max-width: 768px) {

  .element a{
    font-family: "Poppins";
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 70%;
    text-transform: uppercase;
    display: block;
    margin-top: 0%;
  }
  
  .navbar-right {
    display: none;
  }

  .navbar-right.open {
    width: 100%;
    z-index: 1000;
    height: 5.4vh;
  }

  .logo {
    flex-shrink: 0;
    flex-grow: 0;
    width: auto;
    position: relative; /* Ensure consistent placement */
    top: 0; /* Set to zero to avoid shifting */
  }

  .navbar-right.open + .navbar-left {
    position: relative;
    z-index: 1;
  }

  .navbar-left img {
    width: 10vw; 
  }

  .navbar-right .navbar-nav li {
    list-style: none;
    margin: 1.25em 0;
    text-align: center;
    width: 100%;
  }

  .navbar-right .navbar-nav li a {
    text-decoration: none;
    font-size: 6vw;
    font-weight: 500;
    color: #1E1E1E;
  }

  #enquire-button {
    background-color: #1E1E1E;
    color: #F99FF9 !important;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    margin-top: 1em;
    margin: auto;
    width: 65%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .text-container {
    font-size: 5vw;
  }

  #navbar{
    position: sticky;
    top: 0; /* Adjusts the offset from the top, can be any value like '10px' */
    z-index: 1000; /* Ensures the navbar stays above other elements */
    background-color: #1E1E1E;
    padding-top: 1%;
    padding-bottom: 3%;
  }

  .navbar{
    border: none;
    height: 12vw;
    position: sticky;
    top: 0; /* Adjusts the offset from the top, can be any value like '10px' */
    z-index: 1000; /* Ensures the navbar stays above other elements */
  }

  .navbar-nav li {
    margin: 0 -4vw;
    margin-top: 3%;
  }

  .navbar-right ul {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 9vw;
    width: 100%;
    top: 5vw;
  }

  .navbar-hamburger {
    display: block;
    margin: 0 -10vw;
    padding-right: 10%;
  }

  #hamburger {
    width: 10vw;
    height: auto;
  }
  
  #close {
    width: 8vw;
    height: auto;
    padding-right: 1.5vw;
  }

  .navbar-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .navbar-right.open ul {
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(249, 159, 249, 0.96); 
    position: fixed;
    top: 18.2vw;
    left: 0;
    height: 100vh;
   }


  .footer-img-column{
    display:none;
  }

  .footer-columns{
    display: none;
  }

  .footer {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    padding: 1em 0; /* Adds some padding for visual spacing */
    z-index: 10;
  }

  .footer-socials {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centers the content within footer-socials */
      text-align: center; /* Ensures text inside is centered */
      width: 100%; /* Ensures it takes the full width of the footer */
      margin-top: 0%;
      margin-bottom: 0%;
      margin-left: 0%;
      padding-top: 3%;
  }

  .footer-socials .social-icons {
    display: flex;
    gap: 0.5em; /* Adds space between icons */
    justify-content: center; /* Centers the icons */
    padding: 0;
    list-style: none;
  }

  .footer-socials .copyright {
    margin-top: 1em; /* Adds space above the copyright text */
    font-size: 0.9em;
    width: 100%; /* Ensures it takes full width */
    text-align: center; /* Centers the text inside */
  }

  .social-icons img {
    width: 6.5vw;
    height: 6.5vw;
  }
  body.lock-scroll {
    overflow: hidden;
  }

  .divider{
    display: inline-block;
    stroke-width: 0.07vw;
    stroke: #000;
    width: 100%;
    flex-shrink: 0;
    border-top: 0.75vw solid #000;
  }
  
  .language-selector-nav{
    display: block;
    color: var(--fucsia, #F99FF9);
    font-family: Poppins;
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%;
    text-decoration: none;
    background-color: #1E1E1E;
    margin-block-start: 1.33em;
  }
}
