#about-body{
  background-color: #1E1E1E;
}

.about{
  position:relative;
  background-image: url("/assets/About.png");
  background-position-y: 100%;
  background-position-x: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 57.78vw; 
  margin-bottom: -3%;
  z-index: 0;
  background-color: #FFFF;
}
.about-container{
  display: block;
  justify-content:center;
  text-align: center;
}

.about-title{
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 2.22vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%; /* 3.28vw */
  text-transform: uppercase;
  padding-top:2.5%;
}

.about-bigger-title{
  color: var(--fucsia, #F99FF9);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 8.89vw;
  font-style: normal;
  font-weight: 700;
  line-height: 80.4%; /* 13.10vw */
  text-transform: uppercase;
  margin-top: 0%;
}

.about-text{
  margin-top: -5%;
  color: var(--negro, #1E1E1E);
  margin-left: 21%;
  text-align: center;
  font-family: Poppins;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 300;
  max-width:60%;
  line-height: 147.4%; /* 1.64vw */
}


.work-together-section{
  position: relative;
  background: var(--negro, #FFFF); 
  height: 30.00vw;
  justify-content: center;
  margin-top: -6%;
  text-align: center;
  z-index: 1;
}
.work-together-title{
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.11vw;
  margin-bottom: 1%;
  padding-top: 5%;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%; /* 7.68vw */
  text-transform: uppercase;
}

.work-together-text{
  text-align: center;
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: Poppins;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  line-height: 50.4%; /* 1.64vw */
}

.work-together-button {
  margin-top: 2%;
  border-radius: 12.50vw;
  border-color: transparent;
  background: var(--rojo, #F99FF9);
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 20%;
  height: 3.82vw;
  padding: 0.69vw;
}

.work-together-button:hover{
  background: var(--negro, #1E1E1E);
  color: var(--blanco, #FFFF);
}

.info-section {
  background-color: #A1B2FF; /* Light purple background */
  font-family: "roc-grotesk-condensed", sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 2.22vw;
  display: flex;
  justify-content: space-between; /* Ensure the left and right sections are spaced apart */
  gap: 0.00vw;
  min-height: 80vh; /* Ensures the section is tall enough to fit content */
}

.info-card.half-height {
  height: 25vh; /* Adjusted height to allow for more content */
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  border-radius: 1.39vw;

}  

.info-card.full-height {
  height: 62vh; /* This matches the section height minus padding and gap */
  border-radius: 1.39vw;
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  align-content: center;
}

.info-card {
  background-color: #1E1E1E; /* Dark background for the cards */
  border-radius: 2.08vw; /* Rounded corners */
  padding: 2.22vw;
  text-align: left;
}

.info-title {
  font-size: 5.11vw;
  color: #B9BDFF; /* Light purple for the titles */
  text-transform: uppercase;
  margin-top: 0%;
  font-weight:600;
  padding-left: 0.33vw;
  padding-right: 0.33vw;
}

.info-description {
  font-size: 1.11vw;
  line-height: 1.67vw;
  color: #FFFFFF;
  font-family: Poppins;
  margin-top: -10%;
  padding-left: 0.33vw;
  padding-right: 1.56vw;

}

#info-left,
#info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:1%;
}

@media (min-width: 53.33vw) {
  .info-section {
    align-items: stretch;
  }

  #info-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #info-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.colored-text{
  color:#A1B2FF
}

.send-info-section{
  background: var(--negro, #1E1E1E);
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.send-info-small-title{
  color: var(--Negro, #FFFF);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 2.22vw;
  font-style: normal;
  font-weight: 600;
  line-height: 147.4%; /* 3.28vw */
  text-transform: uppercase;
}
.send-info-title{
  color: var(--Negro, #FFFF);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.21vw;
  font-style: normal;
  font-weight: 600;
  line-height: 7%; /* 7.68vw */
  text-transform: uppercase;
  margin-bottom: 2%;
}

#send-info-button{
  background: var(--Negro, #B9BDFF);
  color: var(--negro, #1E1E1E);
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 12.50vw;
  border-color: transparent;
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 15%;
  height: 3.82vw;
  padding: 0.69vw;
}

#enquirenowbutton{
  margin: 0 auto; /* This centers the button */
}

#send-info-button:hover{
  color: var(--Negro, #1E1E1E);
  background: var(--Blanco, #FFF);
}

.send-info-line{
  text-align: center;
  margin-bottom: 3%;
}

#send-info-email {
width: 34.72vw;
height: 3.54vw;
flex-shrink: 0;
background: var(--Blanco, #FFF);
color: #1E1E1E;
font-family: Poppins;
font-size: 1.11vw;
font-style: normal;
font-weight: 400;
line-height: 147.4%;
padding-left: 1.5% !important;
padding-right: 0.14vw !important;
padding:0;
border-width: 0.14vw;
}

#instagram{
padding: 0.5% !important;
background-color: #FFFF;
}