#enquirenow-body{
    background-color: #1E1E1E;
}

.brand-impact-section{
    background: var(--fucsia, #F99FF9);
    justify-content: center;
    text-align: center;
    z-index: 1;
}



.branding-step{
    border-radius: 39px;
    background-color: var(--fucsia, #F99FF9); 
    flex-shrink: 0;
    flex:0;
    padding: 2%;
    margin: 1%;
    
}

.branding-step .column-title{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 47.168px */
    text-transform: uppercase;
    width: 100%;
    flex-shrink: 0;
}

.branding-step .column-text{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%; /* 23.584px */
    max-width: 305.371px; 
}

/*social starts */
.social-section{
    background: var(--negro, #1E1E1E);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.social-title{
    color: var(--celeste, #AEBCFB);
    text-align: center;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 110.55px */
    text-transform: uppercase;
}
.social-section .columns{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 3%;
    justify-content: center; /* Horizontally center the columns */
    align-items: center; /* Vertically center the columns */
}

.social-step{
    border-radius: 39px;
    background: var(--blanco, #FFF);
    flex-shrink: 0;
    flex:0;
    padding: 2%;
    margin: 1%;
}

.social-step .column-title{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}

.social-step .column-text{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%; /* 23.584px */
    max-width: 305.371px; 
}

.send-info-section{
    background: var(--Celeste, #AEBCFB);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.send-info-small-title{
    color: var(--Negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 47.168px */
    text-transform: uppercase;
}
.send-info-title{
    color: var(--Negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 110.55px */
    text-transform: uppercase;
    margin-top: -1.5%;
    margin-bottom: 2%;
}

#enquirenowbutton, #send-info-button{
    margin-left:1.5%;
    border-radius: 48px;
    background: var(--Negro, #1E1E1E);
    color: var(--Blanco, #FFF);
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 29.48px */
    text-transform: uppercase;
    width: 197.57px;
    height: 54.121px;
    border-color: transparent;

}

#enquirenowbutton{
    margin: 0 auto; /* This centers the button */
}

#send-info-button:hover{
    color: var(--Negro, #1E1E1E);
    background: var(--Blanco, #FFF);
}

.send-info-line{
    text-align: center;
    margin-bottom: 3%;
}

.scrolling-text-enquire {
    width: 100%;
    overflow: hidden;
    background: var(--negro, #1E1E1E);
    margin-top: 3%;
  }
  
  .text-container-enquire {
    display: inline-block;
    white-space: nowrap;
    animation: RightToLeft 10s infinite linear;
    overflow: hidden;
    color: var(--blanco, #FFF);
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase; 
    transform: scale(2);
    transition: all 10s ease;
  
  }
  
  .scrolling-content-enquire {
    display: inline-block;
    padding-right: 1em; 
  }
  .separator-enquire {
    padding: 0 0.5em; /* Adjust the spacing around the separator */
    color: var(--blanco, #FFF);
  }
  
  .join-forces-section{
    position: relative;
    background: var(--negro, #1E1E1E); 
    justify-content: center;
    margin-top: -4%;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.join-forces-small-title{
    color: var(--Negro, #ECF39E);
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 47.168px */
    text-transform: uppercase;
}

.join-forces-title{
    color: var(--verde, #ECF39E);
    text-align: center;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 110.55px */
    text-transform: uppercase;
    margin-top: -1.5%;
    margin-bottom: 2%;
}

.join-forces-text{
    text-align: center;
    color: var(--blanco, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4%; /* 23.584px */
}

.join-forces-button {
    margin-top: 2%;
    text-align: center;
    border-radius: 180px;
    border-color: transparent;
    background: var(--blanco, #FFF);
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%;
    text-transform: uppercase;
    width: 184px;
    height: 55px;
    padding: 10px;
}

.join-forces-button:hover{
    background: var(--verde, #ECF39E);
  }

  .enquirenow_title{
    color: #EC4724;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 616.58px;
    height: 77px;
    flex-shrink: 0;
  }

  .enquirenow_text{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%; /* 23.584px */
    width: 834px;
    flex-shrink: 0;
  }

  .nvillalobos{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.4%;
  }
  .enquirenow_link{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 147.4%; /* 23.584px */
    text-transform: uppercase;
  }
  .enquirenow_label{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 147.4%; /* 29.48px */
    flex-shrink: 0;
  }

  #enquirenow_form{
    background-color: #FFF;
    display: grid;
    place-items: center;
  }

  body {
    font-family: Arial, sans-serif;
}

form {
    width: 834px;
    max-width: 834px;
    margin: 0 auto;
    padding: 20px;
}

.enquirenow_label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Poppins;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group input[type="text"] {
    width: calc(50% - 10px);
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}




input[type="checkbox"] {
    margin-right: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group input[type="text"] {
    width: calc(50% - 10px);
}

.form-group-checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group-checkbox label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-group-checkbox input[type="checkbox"] {
    width: 24px; /* Adjust width */
    height: 24px; /* Adjust height */
    margin-right: 1%;
}

#lastName{
margin-left: 1%;
}

.button-container {
    display: flex;
    justify-content: center;
}

#send-info-email {
    width: 499.959px;
    height: 51px;
    flex-shrink: 0;
    background: var(--Blanco, #FFF);
    color: #D9D9D9;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%;
    padding-left: 1.5% !important;
    padding-right: 2px !important;
    padding:0;
    border-width: 2px;
  }