#mywork-body{
  background-color: #1E1E1E;
}


.celebrating-section{
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 2.5%;
  display: inline-block;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;
}

.celebrating-small-title{
  padding-top:3.5% ;
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.20vw;
  font-style: normal;
  font-weight: 500;
  line-height: 0%;
  text-transform: uppercase;
}

.celebrating-small-title-2{
  padding-bottom:3% ;
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.20vw;
  font-style: normal;
  font-weight: 500;
  line-height: 0%;
  text-transform: uppercase;
}

.celebrating-button {
  margin-top: 2%;
  text-align: center;
  border-radius: 12.50vw;
  border-color: transparent;
  background: var(--negro, #1E1E1E);
  color: var(--negro, #FFF);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 12.78vw;
  height: 3.82vw;
  padding: 0.69vw;
}

.celebrating-button:hover{
  background: var(--verde, #FFF);
  color: var(--negro, #1E1E1E);
}

.projects-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.project-image{
  width: 44.35vw;
  height: 42.43vw;
  border-radius: 3.96vw; 
  margin: 0.69vw; /* Adjust as needed */
  background-size: cover;
  background-position: center;
}

.discover-title{
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: Poppins;
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 300%;
  text-transform: uppercase;
  background-color: #F99FF9;
  margin-top: 3.5%;
}  


.portfolio1-section {
  background-color: #FFFF; /* Light purple background */
  font-family: "roc-grotesk-condensed", sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 2.22vw;
  padding-bottom: 0.00vw;
  display: flex;
  justify-content: space-between; /* Ensure the left and right sections are spaced apart */
  gap: 0.00vw;
}

.portfolio1-card.half-height {
  height: 50vh; /* Adjusted height to allow for more content */
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  border-radius: 1.39vw;

}  

.portfolio1-card.full-height {
  height: 113vh; /* This matches the section height minus padding and gap */
  border-radius: 1.39vw;
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  align-content: center;
}

.portfolio1-card {
  background-color: #1E1E1E; /* Dark background for the cards */
  border-radius: 2.08vw; /* Rounded corners */
  padding: 2.22vw;
  text-align: left;
}

.portfolio1-title {
  font-size: 5.11vw;
  color: #F99FF9; /* Light purple for the titles */
  text-transform: uppercase;
  margin-top: 1%;
  font-weight:600;
  padding-left: 0.33vw;
  padding-right: 0.33vw;
}

.portfolio1-description {
  font-size: 1.11vw;
  line-height: 1.67vw;
  color: #FFFFFF;
  font-family: Poppins;
  margin-top: -10%;
  padding-left: 1.33vw;
  padding-right: 1.56vw;

}

#portfolio1-left,
#portfolio1-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:1%;
}

@media (min-width: 53.33vw) {
  .portfolio1-section {
    align-items: stretch;
  }

  #portfolio1-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #portfolio1-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.colored-text{
color:#A1B2FF
}

#portfolio1-half-bg{
  background-image: url('../img/Portfolio03.png');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}

#portfolio1-half-bg-up{
  background-image: url('../img/Portfolio02.png');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}

#portfolio1-full-bg{
  background-image: url('../img/Portfolio01.png');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}

.portfolio2-section {
  background-color: #FFFF; /* Light purple background */
  font-family: "roc-grotesk-condensed", sans-serif;
  color: #1E1E1E;
  margin: 0;
  padding-left: 2.22vw;
  padding-right: 2.22vw;
  display: flex;
  justify-content: space-between; /* Ensure the left and right sections are spaced apart */
  gap: 0.00vw;
}

.portfolio2-card.half-height {
  height: 50vh; /* Adjusted height to allow for more content */
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  border-radius: 1.39vw;

}  

.portfolio2-card.full-height {
  height: 113vh; /* This matches the section height minus padding and gap */
  border-radius: 1.39vw;
  margin: 0.67vw;
  overflow: hidden; /* Prevents overflow of content */
  align-content: center;
}

.portfolio2-card {
  background-color: #1E1E1E; /* Dark background for the cards */
  border-radius: 2.08vw; /* Rounded corners */
  padding: 2.22vw;
  text-align: left;
}

.portfolio2-title {
  font-size: 5.11vw;
  color: #1E1E1E; /* Light purple for the titles */
  text-transform: uppercase;
  margin-top: 1%;
  font-weight:600;
  padding-left: 0.33vw;
  padding-right: 0.33vw;
}

.portfolio2-description {
  font-size: 1.11vw;
  line-height: 1.67vw;
  color: #1E1E1E;
  font-family: Poppins;
  margin-top: -10%;
  padding-left: 1.33vw;
  padding-right: 1.56vw;

}

#portfolio2-left,
#portfolio2-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1%;
}

@media (min-width: 53.33vw) {
  .portfolio2-section {
    align-items: stretch;
  }

  #portfolio2-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #portfolio2-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#portfolio2-half-bg{
  background-image: url('../img/Portfolio05.png');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}  
#portfolio2-half-bg-up{
  background-image: url('../img/Portfolio04.png');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}

#portfolio2-full-bg{
  background-image: url('../img/Portfolio0.png');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
}


.work-together-section{
  position: relative;
  background: var(--negro, #FFFF); 
  justify-content: center;
  margin-top: 0%;
  text-align: center;
  z-index: 1;
  padding-bottom: 10%;
}
.work-together-title{
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 5.11vw;
  margin-bottom: 1%;
  padding-top: 3%;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%; /* 7.68vw */
  text-transform: uppercase;
}

.work-together-text{
  text-align: center;
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: Poppins;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  white-space: normal;
  line-height: 150%;
}

.work-together-button {
  margin-top: 2%;
  border-radius: 12.50vw;
  border-color: transparent;
  background: var(--rojo, #F99FF9);
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 20%;
  height: 3.82vw;
  padding: 0.69vw;
}

.work-together-button:hover{
  background: var(--negro, #1E1E1E);
  color: var(--blanco, #FFFF);
}

.work-together-button-1 {
  margin-top:1.5%;
  margin-bottom:1.5%;
  border-radius: 12.50vw;
  border-color: transparent;
  background: var(--rojo, #F99FF9);
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.39vw;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 20%;
  height: 3.82vw;
  padding: 0.69vw;
}

.work-together-button-1:hover{
  background: var(--blanco, #FFF);
  color: var(--negro, #1E1E1E);
}

#work-together-button-area{
  padding-top: 0%;
  background-color: #1E1E1E;
  justify-content: center; /* Center the button horizontally (optional if needed) */
  align-items: center; /* Center the button vertically */
}

@media screen and (max-width: 768px) {
  .portfolio1-card.half-height {
    height: 50vw;
    margin: 0.67vw;
    overflow: hidden;
    border-radius: 1.39vw;
  }
  .portfolio1-card.full-height {
    height: 106vw;
    border-radius: 1.39vw;
    margin: 0;
    overflow: hidden;
    align-content: center;
  }

  .portfolio2-card.full-height {
    height: 106vw;
    border-radius: 1.39vw;
    margin: 0;
    overflow: hidden;
    align-content: center;
  }
  .portfolio2-card.half-height {
    height: 50vw;
    margin: 0.67vw;
    overflow: hidden;
    border-radius: 1.39vw;
  }
  .celebrating-small-title, .celebrating-small-title-2 {
    font-size: 7.5vw;
    line-height: 20%;
  }

  #discover-title-line{
    background-color: #F99FF9;
  }


  .celebrating-section{
    margin-top: 0%;
  }
  .discover-title {
    font-size: 3.5vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
    line-height: 130%;
    padding: 1.5%;
  }

  .work-together-section{
    height: 60vw;
  }
  .work-together-button, .work-together-button-1 {
    font-size: 3.5vw;
    width: 50%;
    height: 7.5vw;
  }
  .work-together-title {
    font-size: 7.5vw;
    padding-top: 4vw;
    margin: auto;
    text-align: center;
    width: 60%;
    line-height: 110%;
  }
  .work-together-text {
    font-size: 3.5vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
    line-height: 130%;
    padding: 1.5%;
    margin-bottom: 0%;
  }

  #work-together-button-area{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
}