.brand-impact-section{
    position: relative;
    background: var(--fucsia, #F99FF9);
    height: 600px;
    justify-content: center;
    margin-top: -1%;
    text-align: center;
    z-index: 1;
}
.brand-impact-small-title{
    padding-top:3.5% ;
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 110.55px */
    text-transform: uppercase;
}

.brand-impact-big-title{
    color: var(--blanco, #FFF);
    text-align: center;
    font-family: Oswald;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.4%; /* 188.672px */
    text-transform: uppercase;
    margin-top: -5%;
    margin-bottom: -0.5%;
}

.brand-impact-text{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 70%; /* 23.584px */
}

.brand-impact-button {
    margin-top: 2%;
    text-align: center;
    border-radius: 180px;
    border-color: transparent;
    background: var(--negro, #1E1E1E);
    color: var(--negro, #FFF);
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%;
    text-transform: uppercase;
    width: 184px;
    height: 55px;
    padding: 10px;
}

.brand-impact-button:hover{
    background: var(--verde, #FFF);
    color: var(--negro, #1E1E1E);
}

.branding-section{
    background: var(--blanco, #FFF);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.branding-title{
    color: var(--fucsia, #F99FF9); 
    text-align: center;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 110.55px */
    text-transform: uppercase;

}
.branding-section .columns{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 3%;
    justify-content: center; /* Horizontally center the columns */
    align-items: center; /* Vertically center the columns */
}

.branding-step{
    border-radius: 39px;
    background-color: var(--fucsia, #F99FF9); 
    flex-shrink: 0;
    flex:0;
    padding: 2%;
    margin: 1%;
    
}

.branding-step .column-title{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 47.168px */
    text-transform: uppercase;
    width: 100%;
    flex-shrink: 0;
}

.branding-step .column-text{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%; /* 23.584px */
    max-width: 305.371px; 
}

/*social starts */
.social-section{
    background: var(--negro, #1E1E1E);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.social-title{
    color: var(--celeste, #AEBCFB);
    text-align: center;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 110.55px */
    text-transform: uppercase;
}
.social-section .columns{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 3%;
    justify-content: center; /* Horizontally center the columns */
    align-items: center; /* Vertically center the columns */
}

.social-step{
    border-radius: 39px;
    background: var(--blanco, #FFF);
    flex-shrink: 0;
    flex:0;
    padding: 2%;
    margin: 1%;
}

.social-step .column-title{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}

.social-step .column-text{
    color: var(--negro, #1E1E1E);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%; /* 23.584px */
    max-width: 305.371px; 
}

.send-info-section{
    background: var(--Celeste, #AEBCFB);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.send-info-small-title{
    color: var(--Negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 47.168px */
    text-transform: uppercase;
}
.send-info-title{
    color: var(--Negro, #1E1E1E);
    text-align: center;
    font-family: Oswald;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 110.55px */
    text-transform: uppercase;
    margin-top: -1.5%;
    margin-bottom: 2%;
}

#email{
    width: 499.959px;
    height: 51px;
    flex-shrink: 0;
    background: var(--Blanco, #FFF);
    color: #D9D9D9;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%; /* 23.584px */
    padding-left: 1.5%;
}

#send-info-button{
    margin-left:1.5%;
    border-radius: 48px;
    background: var(--Negro, #1E1E1E);
    color: var(--Blanco, #FFF);
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 29.48px */
    text-transform: uppercase;
    width: 197.57px;
    height: 54.121px;
    border-color: transparent;

}

#send-info-button:hover{
    color: var(--Negro, #1E1E1E);
    background: var(--Blanco, #FFF);
}

.send-info-line{
    text-align: center;
    margin-bottom: 3%;
}

.faq-section{
    margin-top: 7%;
    margin-bottom: 7%;
}
.faq-title{
    color: var(--Celeste, #AEBCFB);
    text-align: center;
    font-family: Oswald;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.4%; /* 188.672px */
    text-transform: uppercase;
}
.faq-question{
    color: var(--Negro, #1E1E1E);
    font-family: Oswald;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.4%; /* 29.48px */
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}
.faq-question::after {
    content: "\00a0+"; /* Use a non-breaking space (\00a0) before the plus sign */
    color: #000; /* Set the color of the plus sign */
    font-weight: bold; /* Make the plus sign bold if desired */
    /* You can adjust other styling properties as needed */
}

.faq-answer{
    color: var(--Negro, #1E1E1E);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%; /* 23.584px */
    display: none;
}

.line{
    stroke-width: 1px;
    stroke: #000;
    width: 755.02px;
    height: 0px;
    flex-shrink: 0;
    border-top: 1px solid #000; /* You can adjust the color and thickness as needed */
}
.faq-container {
    display: flex;
    align-items: start; 
  }
  
  .faq-left {
    flex: 4; /* Takes 3/10 of available space */
    align-self: flex-start; 
  }
  
  .faq-right {
    flex: 7; /* Takes 7/10 of available space */
  }
  

