@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: bold;
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  src: url('../fonts/Oswald-Medium.ttf') format('truetype');
}

body{
  margin:0%
}
.element a {
  color: #FFFFFF;
  font-size: 1.25em;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: none;
  display: flex;

}

.element a:hover {
  color: #F99FF9;
}

li.active a {
  color: var(--rojo, #F99FF9);
  text-align: center;
  font-family: Poppins;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}
.logo {
  margin-right: auto;
  margin-left: 0.625em; 
}

.navbar {
  background-color: transparent; 
  border-radius: 100px;
  border: 2px solid #F99FF9; 
  padding: 1px 0.625em; 
  margin-left: 12%;
  margin-top: 2%;
  margin-right: 12%;
  height: 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25%;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-nav li {
  margin: 0 0.625em;
}


.item-count {
  padding: 2px 5px;
  border-radius: 50%;
  background-color: rgba(236, 71, 36, 1);
  color: #fff;
  width: 50px;
  line-height: 56px;
  text-align: center;
  font-weight: normal;
  font-family: Poppins;
}

.navbar-right {
  margin-right: 2%;
}

.navbar-left {
  margin-left: 2%; 
}

.bio {
  display: flex;
  align-items: center;
  margin: 2.5%;
  justify-content: center;
}

.content-container{
  margin-left: 4%;
  margin-bottom: 5%;
}
.image-container {
  margin-right: 1.25em;
}


.bio-title {
  color: var(--blanco, #FFFFFF);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 25%;
  text-transform: uppercase;
}

.bio-title-fucsia {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 25%;
  text-transform: uppercase;
}

.bigger-title {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  text-transform: uppercase;
  margin-top: 17%;
}

.text-box {
  color: var(--negro, #FFFFFF);
  font-family: Poppins;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 147.4%;
  width: 528.166px; 
  margin-top: -2%;
  margin-bottom: 6%;
}

.button {
  border-radius: 180px;
  border-color: transparent;
  background: var(--rojo, #F99FF9);
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 50%;
  height: 55px;
  padding: 0.625em;
}

.button:hover{
  background: var(--negro, #FFFF);
  color: var(--negro, #1E1E1E);
}

.scrolling-text {
  width: 100%;
  background: var(--fucsia, #F99FF9);
  margin-top: 2.5%;
  overflow: hidden;
}

.text-container {
  display: inline-block;
  white-space: nowrap;
  animation: RightToLeft 10s infinite linear;
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.50em;
  text-transform: uppercase; 
  transform: scale(2);
  transition: all 10s ease;

}

.scrolling-content {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 0.625em;
}

.separator {
  padding: 0 0.5em; /* Adjust the spacing around the separator */
}


@keyframes  RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.process-section {
  background: var(--negro, #1E1E1E); 
}

.process-title {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  margin-left: 11%;
  margin-bottom: -5%;
  padding-top: 3%;
}

.columns {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
}

.step {
  flex: 1;
  padding: 1.25em;
}

.number {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  margin-bottom: -10%;
}

.column-title {
  color: var(--fucsia, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  width: 201.096px;
  height: 46.79px;
  flex-direction: column;
  flex-shrink: 0;
}

.separator {
  background: #F99FF9;
  width: 330.348px;
  height: 2px; 
}

.column-text {
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: 327.453px;
  height: 157.756px;
  flex-direction: column;
  flex-shrink: 0;
}

.instagram-section {
  text-align: center; /* Center align the section content */
  background-color: #FFFF;

}

.instagram-title {
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.instagram-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1.25em;
}

.instagram-column {
  flex-basis: 33%; /* Adjust the width based on your desired layout */
  padding: 0.625em;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.image-wrapper {
  display: table-cell;
  width: 50%;
  box-sizing: border-box;
  
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.instagram-column p {
  color: var(--negro, #FFFF);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20%;
}



.footer{
  background: var(--negro, #1E1E1E);
  justify-content: space-between;
  display: flex;
}

.footer-columns{
  width: 20%;
  display: flex;
  margin-right: 35%;
}

.footer-title a{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 0.85em;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%;
  text-decoration: none;
}

.footer-element a{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 0.85em;
  font-style: normal;
  font-weight: 400;
  line-height: 147.4%;
  text-decoration: none;
}

.footer-element a:hover{
  color: #F99FF9;
}

.footer-title a:hover{
  color: #F99FF9;
}

.footer-social-title{
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.copyright{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 450%;
}

footer {
  background-color: #f9f9f9;
  padding: 1.25em;
}

.footer-column {
  display: inline-block;
  width: 50%;
}

h4 {
  margin-bottom: 0.625em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: inherit;
}

.social-icons li {
  margin-right: 0.625em;
}

.social-icons img {
  width: 2em;
  height: 2em;  
}

p {
  margin-top: 0.625em;
}

.footer-socials{
  margin-left: -1%;
  margin-top: 3%;
  width: 20%;
  justify-content: center;
  text-align: left;
}

#home-body{
  background-color: #1E1E1E;
}

.obsessed{
  background-image: url('../img/Nube\ grande.svg');
  background-size:auto;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
  justify-content:center;
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  clip-path: inset(0 0 10% 0);
}

.obsessed-title{
  color: var(--blanco, #1E1E1E);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 9%;
  text-transform: uppercase;
  text-align: center;
}

.obsessed-subtitle{
  color: var(--blanco, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  margin-top: -2%;
}

#obsessed-titles{
  margin-top: 12%;
}

#clouds{
  margin-top: 8%!important;
  margin: 10%;
  display: flex;
  justify-content:center;
}

.cloud{
  background-image: url('../img/Vector\ Nube.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  width: 25%;
  height: 10em;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  color: #FFFFFF;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-style: normal;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 9%;
  text-transform: uppercase;
  text-align: center;
}



.cloud h2 {
  display: block!important; /* Ensures each h2 appears on its own line */
  margin: 0!important;      /* Reset margin if needed */
  padding: 0!important;    
}
.cloud:hover {
  color: #F99FF9;
}



.services-section{
  margin-top: -10% !important;
  margin-bottom: 7%;
  background-color: #FFFFFF;
  padding-bottom: 4%;
}

.services-title{
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 4.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  background-color: #F99FF9;
  padding-top: 1.5%;
}
.services-question{
  color: var(--Negro, #1E1E1E);
  font-family: "Poppins";
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  display: block;
  margin-top: 0%;
  margin-bottom: -0.5%;
}

.services-question:hover{
  color: #F99FF9;
}



.line{
  display: inline-block;
  stroke-width: 1px;
  stroke: #000;
  width: 50%;
  height: 0px;
  flex-shrink: 0;
  border-top: 2px solid #000; /* You can adjust the color and thickness as needed */
}
.services-container {
  display: block;
  align-items: center; 
}

#services-columns{
  margin-top: -3%;
  display: block;
  text-align: center;
}

#services-button-container {
  display: flex;
  justify-content: center;
  margin:1%;
}

.services-button {
  border-radius: 180px;
  border-color: transparent;
  background: var(--rojo, #F99FF9);
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: "Poppins";
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 20%;
  height: 55px;
  padding: 0.625em;
  display: inline-block;
}


.services-button:hover{
  background: var(--negro, #1E1E1E);
  color: var(--negro, #FFFF);
}

.loved{
  padding-top: 5%;
  background-image: url('../img/Nube\ testimonials.svg');
  background-size:100%;
  background-repeat: no-repeat;
  margin-top: -7%;
  margin-bottom: 5%;
  display: inline-block;
  justify-content:center;
  background-color: #FFFFFF;
  width: 100%;
}

#loved-titles{
  padding-top: 5em;
}
.loved-title{
  color: var(--blanco, #F99FF9);
  font-family: "roc-grotesk-condensed", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 9%;
  text-transform: uppercase;
  text-align: center;
}

#testimonies{
  align-content: center;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 1em;
}

#testimony-1{
  background-image: url('../img/Testimonial\ 01.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
    line-break: auto;
    margin-left: 18%;
    padding-top: 2.5%;
}

#testimony-2{
  background-image: url('../img/Testimonial\ 02.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40%;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  line-break: auto;
  margin-left: 45%;
  margin-top: -7%;
  padding-top: 3%;


}

#testimony-3{
  background-image: url('../img/Testimonial\ 03.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40%;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  line-break: auto;
  margin-left: 15%;
  margin-top: -10%;
  padding-top: 2.5%;
}

#footer-image{
  width: 100%;
}

.footer-img-column{
  display: inline-block;
  width: 10%;  
  align-content: center;
  margin-left: 10%;
}