@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: bold;
  src: url('../assets/fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  src: url('../assets/fonts/Oswald-Medium.ttf') format('truetype');
}

body{
  margin:0%
}
li a {
  color: #000;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: none;
  display: flex;

}

li a:hover {
  color: #EC4724;
}

li.active a {
  color: var(--rojo, #EC4724);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}
.logo {
  margin-right: auto;
  margin-left: 10px; 
}

.navbar {
  background-color: transparent; 
  border-radius: 100px;
  border: 2px solid #EC4724; 
  padding: 1px 10px; 
  margin-left: 18%;
  margin-top: 2%;
  margin-right: 18%;
  height: 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-nav li {
  margin: 0 10px;
}


.item-count {
  padding: 2px 5px;
  border-radius: 50%;
  background-color: rgba(236, 71, 36, 1);
  color: #fff;
  width: 50px;
  line-height: 56px;
  text-align: center;
  font-weight: normal;
  font-family: Poppins;
}

.navbar-right {
  margin-right: -1.5%;
}

.navbar-left {
  margin-left: 2%; 
}

.bio {
  display: flex;
  align-items: center;
  margin: 5%;
  justify-content: center;
}

.content-container{
  margin-left: 4%;
}
.image-container {
  margin-right: 20px;
}


.bio-title {
  color: var(--negro, #1E1E1E);
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  line-height: 50%;
  text-transform: uppercase;
}

.bigger-title {
  color: var(--fucsia, #F99FF9);
  font-family: Oswald;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  text-transform: uppercase;
  margin-top: 17%;
}

.text-box {
  color: var(--negro, #1E1E1E);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.4%;
  width: 528.166px; 
}

.button {
  border-radius: 180px;
  border-color: transparent;
  background: var(--rojo, #EC4724);
  color: var(--blanco, #FFF);
  text-align: center;
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  width: 184px;
  height: 55px;
  padding: 10px;
}

.button:hover{
  background: var(--negro, #000);
}

.scrolling-text {
  width: 100%;
  overflow: hidden;
  background: var(--fucsia, #F99FF9);
  margin-top: 5%;
}

.text-container {
  display: inline-block;
  white-space: nowrap;
  animation: RightToLeft 10s infinite linear;
  overflow: hidden;
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase; 
  transform: scale(2);
  transition: all 10s ease;

}

.scrolling-content {
  display: inline-block;
  padding-right: 1em;
  
}

.separator {
  padding: 0 0.5em; /* Adjust the spacing around the separator */
}


@keyframes  RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.ovals {
  margin: 5%;
  display: flex;
  justify-content:center;
}

.oval {
  border-radius: 144px;
  border: 4px solid var(--negro, #1E1E1E);
  background: var(--celeste, #AEBCFB);
  width: 247.51px;
  height: 358.374px;
  flex-shrink: 0; 
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center;
  margin-right: -30px; /* Adjust the value as needed */
}

.oval:hover{
  background: var(--verde, #ECF39E);
}

.oval h2 {
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: Oswald;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
}

.process-section {
  background: var(--negro, #1E1E1E); 
}

.process-title {
  color: var(--fucsia, #F99FF9);
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  margin-left: 11%;
  margin-bottom: -5%;
  padding-top: 3%;
}

.columns {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
}

.step {
  flex: 1;
  padding: 20px;
}

.number {
  color: var(--fucsia, #F99FF9);
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  margin-bottom: -10%;
}

.column-title {
  color: var(--fucsia, #F99FF9);
  font-family: Oswald;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  width: 201.096px;
  height: 46.79px;
  flex-direction: column;
  flex-shrink: 0;
}

.separator {
  background: #F99FF9;
  width: 330.348px;
  height: 2px; 
}

.column-text {
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: 327.453px;
  height: 157.756px;
  flex-direction: column;
  flex-shrink: 0;
}

.instagram-section {
  margin: 5%;
  text-align: center; /* Center align the section content */
}

.instagram-title {
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: Oswald;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.instagram-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.instagram-column {
  flex-basis: 33%; /* Adjust the width based on your desired layout */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.image-wrapper {
  display: table-cell;
  width: 50%;
  box-sizing: border-box;
  
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.instagram-column p {
  color: var(--negro, #1E1E1E);
  text-align: center;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20%;
}



.footer{
  background: var(--negro, #1E1E1E);
  justify-content: space-between;
  display: flex;
}

.footer-columns{
  margin-left: 25%;
  width: 50%;
  display: flex;
}

.footer-title{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.4%;
}

.footer-element{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.4%;
}

.footer-social-title{
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.copyright{
  color: var(--blanco, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer {
  background-color: #f9f9f9;
  padding: 20px;
}

.footer-column {
  display: inline-block;
  width: 50%;
}

h4 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons img {
  width: 27px;
  height: 27px;
  
}

p {
  margin-top: 10px;
}

.footer-socials{
  margin-right: 15%;
  margin-top: -1%;
  width: 50%;
  justify-content: center;
  text-align: center;
}